@media screen and (max-width: 1380px) {
    .present::before {
        width: 60px;
        height: 60px;
    }

    .present img {
        width: 35px;
        right: 14px;
        bottom: 14px;
    }

    .present-fix {
        bottom: 20px;
        right: 20px;
    }

    .present-text {
        padding: 10px;
        right: 160px;
        bottom: -88px;
        font-size: 12px;
    }

    .present-text::after {
        bottom: 18px;
    }
}

@media screen and (max-width: 1170px) {
    .container {
        padding: 0 15px;
    }

    .circle {
        width: 150px;
        height: 150px;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
    }

    .circle-2 {
        width: 150px;
        height: 150px;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
    }

    .cards {
        grid-template-columns: repeat(2, 283px);
        justify-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 728px;
    }

    .header .container {
        grid-template-columns: auto auto auto;
    }

    .header .logo {
        grid-column: unset;
    }

    .header .phone {
        display: none;
    }

    .menu {
        justify-self: left;
    }

    .main {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .main .container {
        flex-direction: column;
    }

    .main-text {
        padding-top: 0;
    }

    .main-text-description {
        margin-bottom: 41px;
    }

    .main-image {
        top: -120px;
    }

    .about-us-title {
        grid-column: 1/3;
        grid-row: 1/2;
        max-width: 800px;
    }
    .about-us-text {
        grid-column: 1/3;
        grid-row: 2/3;
        max-width: 800px;
        margin-bottom: 40px;
    }
    .about-image {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .about-us {
        justify-items: center;
        text-align: center;
    }

    .advantages {
        grid-template-columns: repeat(2, 220px);
        justify-content: space-evenly;
        text-align: center;
    }

    .advantage-number {
        left: 50px;
    }

    .advantage-number:after {
        left: 0;
    }

    .form h2, .form-text {
        width: 406px;
    }

    .order-image {
        order: 2;
        align-self: end;
        margin-bottom: -100px;
        margin-left: -80px;
    }

    .form {
        order: 1;
    }

    .strawberry-left {
        left: 350px;
        top: 250px;
    }

    .strawberry-right {
        right: 120px;
        top: 100px;
    }
}

@media screen and (max-width: 720px) {
    .main-image {
        left: 0;
        top: -50px;
        margin-top: 50px;
    }

    .main-text-title {
        font-size: 32px;
    }

    .order-image {
        display: none;
    }

    .order .container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .form {
        text-align: left;
    }

    input, .order-btn button {
        width: 100%;
    }

    .strawberry-right {
        display: none;
    }

    .strawberry-left {
        left: 275px;
        top: 100px;
    }

    .footer .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-row-gap: 40px;
        justify-items: center;
    }

    .footer {
        padding: 50px 0;
    }

    .rights {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .sign-instagram {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-bottom: 30px;
    }

    .text-instagram {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 30px;
    }

    .footer .phone {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
    }

    .strawberry-left {
        left: 500px;
        top: 100px;
    }
}

@media screen and (max-width: 600px) {

    .burger {
        display: block;
    }

    .menu.open {
        display: flex;
        align-items: center;
    }

    .menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: #eba8b1;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 300;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .menu li {
        margin: 15px 0;
    }

    .main-text-description {
        max-width: 500px;
        margin: 0 auto 40px auto;
    }

    .main-text  {
        text-align: center;
    }

    .about {
        padding: 100px 0;
    }

    .about-us-title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .about-us-text {
        font-size: 16px;
    }

    .about-image {
        width: 302px;
    }

    .advantages {
        justify-items: center;
        grid-template-columns: repeat(2, 156px)
    }

    .advantage {
        width: 156px;
    }

    .advantage-number {
        left:25px;
    }

    .advantage-text {
        font-size: 13px;
    }

    .advantage-title {
        font-size: 18px;
    }

    .assortment {
        padding: 100px 0;
    }

    .assortment h2 {
        font-size: 30px;
    }

    .cards {
        grid-template-columns: 375px;
    }

    .order {
        padding: 100px 0 77px 0;
    }

    .order h2 {
        font-size: 30px;
        text-align: left;
    }

    .form {
        box-sizing: border-box;
    }

    .form-text {
        font-size: 16px;
        text-align: left;
        max-width: 344px;
    }

    input {
       justify-self: center;
       width: 100%;
    }

    .order-btn button {
        width: 100%;
    }

    .form h2, .form-text {
        max-width: 344px;
    }

    .strawberry-left {
        left: 330px;
    }
}

@media screen and (max-width: 423px) {
    .main-text-description {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .main-image img {
        margin-right: 45px;
    }

    .advantage-title {
        font-size: 16px;
    }

    .strawberry-left {
        left: 270px;
        width: 72px;
        height: 89px;
    }

    .strawberry-left img {
        width: 100%;
    }
}

@media screen and (max-width: 374px) {
    .form h2, .form-text {
        max-width: 300px;
    }

    .strawberry-left {
        left: 200px;
    }
}

@media screen and (max-width: 340px) {
    .about-image {
        width: 290px;
    }
}


