* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts2/Gilroy-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Gilroy;
    src: url("../fonts2/Gilroy-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Gilroy;
    src: url("../fonts2/Gilroy-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Gilroy;
    src: url("../fonts2/Gilroy-Extrabold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: Tavolga;
    src: url("../fonts2/tavolga-free.ttf");
}

body {
    font-family: Gilroy,sans-serif;
    font-weight: 400;
}

.header {
    background-color: #eba8b1;
    padding: 38px 0 29px 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: Tavolga, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 213px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
   margin: 0 20px;
}

.menu a:hover {
    border-bottom: 2px solid #821328;
}

.menu a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: rgb(119, 11, 29);
    padding-bottom: 3px;
    border-bottom: 2px solid #eba8b1;
}

.phone {
    font-size: 16px;
    font-family: "Gilroy",sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 309px;
    font-weight: 700;
}

.main {
    background-color: #eba8b1;
    padding: 126px 0 108px 0;
}

.main .container {
    display: flex;
}

.main-text {
    padding: 20px 0 38px 0;
}

.main-text-title {
    margin-bottom: 60px;
    font-size: 55px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    max-width: 580px;
}

.main-text-description {
    margin-bottom: 80px;
    font-size: 18px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.389;
    max-width: 349px;
}

.main-action button {
    background-image: -moz-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    border-radius: 30px;
    border: 0;
    font-size: 18px;
    font-family: "Gilroy", sans-serif;
    color: rgb(255, 255, 255);
    padding: 21px;
    width: 240px;
    box-sizing: border-box;
    font-weight: 700;

}

.main-action button:hover {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
    transition: all .5s;
}

.main-image {
    padding: 0 15px;
    align-self: flex-end;
    position: relative;
    z-index: 2;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #821328;
    position: absolute;
    z-index: -1;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    animation: circle 3s ease-out infinite;
}
.circle-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    border-radius: 50%;
    border: 1px solid #821328;
    animation: circle-2 3s ease-in-out infinite;
}

@keyframes circle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3.5);
        opacity: 0;
    }
}
@keyframes circle-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3.5);
        opacity: 0;
    }
}

.about {
    background-color: #ffefef;
    padding: 119px 0 120px 0;
}

.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-us-title {
    font-size: 45px;
    font-family: "Tavolga", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 60px;
    max-width: 475px;
}

.about-us-text {
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 402px;
}

.about-image {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: end;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, 308px);
    margin-top: 88px;
    margin-left: -43px;
    margin-right: -43px;
}

.advantage {
    margin: 0 43px;
    cursor: pointer;
}

.advantage-number {
    font-size: 60px;
    font-weight: 800;
    color: white;
    position: relative;
    margin-left: 20px;
    z-index: 1;
}

.advantage:hover .advantage-number {
    color: #821328;
    transition: all .3s;
}

.advantage-number::before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #821328;
    position: absolute;
    left: -20px;
    bottom: 17px;
    z-index: -1;
}

.advantage:hover .advantage-number::before {
    background-color: #eba8b1;
    transition: all .3s;
}

.advantage-title {
    font-size: 20px;
    font-weight: 800;
    color: rgb(51, 25, 7);
}

.advantage-text {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(51, 25, 7);
    line-height: 1.333;
}

.assortment {
    padding: 120px 0;
    background-color: #eba8b1;
}

.assortment h2 {
    font-size: 45px;
    font-family: "Tavolga",sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 143px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 283px);
    justify-items: center;
}

.card {
    margin: 0 10px;
    padding: 109px 21px 27px 21px;
    position: relative;
    border: 2px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    width: 263px;
    cursor: pointer;
}

.card-image {
    position: absolute;
    top: -60px;
    left: 35px;
}

.card-title {
    font-size: 18px;
    font-family: "Tavolga",sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 26px;
}

.card-action {
    display: grid;
    grid-template-columns: auto 130px;
    grid-template-rows: auto auto;
}

.card-btn {
    grid-column: 2/3;
    grid-row: 1/3;
}

.card-btn button {
    background-image: -moz-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    width: 130px;
    height: 50px;
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}

.card-btn button:hover {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
    transition: all .5s;
}

.card .card-image {
    transition: all .5s;
}

.card:hover .card-image {
    transform: scale(1.1);
}

.card-amount {
    font-size: 15px;
    color: rgb(255, 255, 255);
    grid-column: 1/2;
    grid-row: 1/2;
}

.card-price {
    font-size: 15px;
    color: rgb(255, 255, 255);
    grid-column: 1/2;
    grid-row: 2/3;
}

.order {
    background-color: #ffefef;
    padding: 98px 0 120px 0;
}

.order .container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.strawberry-left {
    position: absolute;
    left: 0;
    top: 60px;
    animation: strawberry-left 1.1s linear infinite alternate;
}

@keyframes strawberry-left {
    100% {
        transform: translateY(30px);
    }
}

.order-image {
    align-self: center;
}

.order h2 {
    font-size: 45px;
    font-family: "Tavolga",sans-serif;
    color: rgb(51, 25, 7);
    margin-bottom: 41px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 406px;
    position: relative;
}

.strawberry-right {
    position: absolute;
    right: 0;
    bottom: 100px;
    animation: strawberry 1.6s linear infinite alternate;
}

@keyframes strawberry {
    100% {
        transform: translateY(30px);
    }
}

.form-text {
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    margin-bottom: 28px;
}

label div {
    font-size: 18px;
    color: rgb(18, 10, 6);
    font-weight: 700;
    margin: 20px 0;
}

input {
    padding: 21px 26px 21px 26px;
    width: 295px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #821328;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
}

input::placeholder {
    font-size: 15px;
    color: rgb(118, 12, 34);
    font-weight: 700;
}

.order-btn button {
    border-radius: 30px;
    background-image: -moz-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    width: 295px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 22px;
    border: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #c0707c;
    padding: 80px 0 77px 0;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

.logo .container {
    grid-column: 1/2;
    grid-row: 1/2;
}

.rights {
    font-size: 12px;
    color: rgb(227, 172, 180);
    grid-column: 1/2;
    grid-row: 2/3;
}

.sign-instagram {
    display: block;
    font-size: 35px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.sign-instagram a {
    color: white;
}

.text-instagram {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.footer .phone {
    margin-left: 0;
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: end;
}

.present::before {
    content: "";
    width: 90px;
    height: 90px;
    background-image: radial-gradient(rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}

.present:hover .present-text {
    display: block;
    animation: text-appearance .4s forwards;
}

@keyframes text-appearance {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(-55px);
    }
}

.present:hover::before {
    border-radius: 50%;
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present-text {
    display: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(119, 10, 29);
    line-height: 1.333;
    border: 2px solid #770a1d;
    border-radius: 10px;
    background-color: #feefee;
    padding: 15px 10px;
    width: 170px;
    box-sizing: border-box;
    position: relative;
    right: 105px;
    bottom: -55px;
}

.present-text::after {
    content: '';
    width: 15px;
    height: 15px;
    border-top: 2px solid #770a1d;
    border-right: 2px solid #770a1d;
    position: absolute;
    bottom: 25px;
    right: -10px;
    background: #feefee;
    transform: rotate(45deg);
}

.present a {
    text-decoration: none;
}

.present {
    position: relative;
    z-index: 2;
}

.present img {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.present-circle {
    position: relative;
}

.present-fix {
    position: fixed;
    bottom: 30px;
    right: 30px;
}











